{% if menus.main.get_items %}

	<nav class="main-navigation">
		<div class="wrapper">
			<ul class="menu">

				{% for item in menus.main.get_items %}

					<li class="{{ item.classes|join(' ') }}">
						<a href="{{ item.get_link }}">{{ item.title }}</a>

						{% if item.get_children %}

							<ul class="sub-menu">

								{% for child in item.get_children %}

									<li class="{{ child.classes|join(' ') }}">
										<a href="{{ child.get_link }}">{{ child.title }}</a>
									</li>

								{% endfor %}

							</ul>

						{% endif %}
					</li>

				{% endfor %}

			</ul>
		</div>
	</nav>

{% endif %}
