		<footer id="footer">
		
			<div class="wrapper">
				
				<div id="credits">
				
					<div id="copyright">
						<p>
							&copy; {{__( 'Copyright', 'tp' )}} {{now|date( 'Y' )}} - {{site.name}}
						</p>
					</div>
					
					<nav>
						{{menus.footer}}
					</nav>
					
				</div>
				
			</div>
			
		</footer>
		
		{{wp_footer}}
		
	</body>
	
</html>
