<!DOCTYPE html>

<html {{ site.language_attributes }}>

	<head>

		<meta charset="{{ site.charset }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="alternate" type="application/rss+xml" href="{{ bloginfo('rss2_url') }}" title="{{ site.name }} RSS feed" />
		<link rel="pingback" href="{{ site.pingback_url }}" />
		<link rel="profile" href="http://gmpg.org/xfn/11" />

		{{ wp_head }}

	</head>

	<body class="{{ body_class }}">

		<header class="header">

			<div class="wrapper">

				<div class="mobile-search" data-toggle=".header-search">
					<div class="search-icon"></div>
				</div>

				<div class="mobile-navigation" data-toggle=".main-navigation">
					<div class="navigation-icon">
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
					</div>
				</div>

				<div class="logo">

					<p class="site-name">
						<a href="{{ site.url }}">
							{{ site.name }}
						</a>
					</p>

					<p class="site-description">
						{{ site.description }}
					</p>

				</div>

				<div class="header-search">
					{% include 'partials/searchform.twig' %}
				</div>

			</div>

		</header>

		{% include 'partials/main-navigation.twig' %}
