<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ wp_head }}
  </head>

  <body class="{{ body_class }}" ontouchstart="">
    <header class="header">
      <div class="wrapper">
        <a class="logo" href="{{ site.url }}">
          {{- site.name -}}
        </a>

        {% include 'partials/main-navigation.twig' %}
        {% include 'partials/navigation-toggle.twig' %}
      </div>
    </header>
