{% extends 'base.twig' %}

{% block content %}

	<h1>
		{{ post.title }}
	</h1>
	
	{% include 'partials/post-meta.twig' %}

	{% if post.thumbnail %}

		<img class="featured" src="{{ post.thumbnail.src('medium') }}" alt="{{ post.thumbnail.title }}">

	{% endif %}

	{{ post.content }}

	{% include 'partials/tags.twig' %}

	{{ fn('comments_template') }}

{% endblock %}
