{% extends 'base.twig' %}

{% block content %}

	<h1>
		{{post.title}}
	</h1>
	
	{% include 'partials/post-meta.twig' %}

	{% if post.thumbnail.src %}

		<figure>
			{{fn( 'the_post_thumbnail', 'medium' )}}
		</figure>

	{% endif %}

	{{post.content}}

	<p class="tags">
		{{fn('the_tags', '<span class="label">Tags</span> ', '' )}}
	</p>

	<p>
		<a class="back" href="{{fn( 'get_permalink', fn( 'get_option', 'page_for_posts' ) )}}">
			{{__( 'Back to the overview', 'tp' )}}
		</a>
	</p>

	{{fn('comments_template')}}

{% endblock %}
