{% extends 'base.twig' %}

{% block content %}

	<h1>
		{{post.title}}
	</h1>
	
	{% include 'partials/post-meta.twig' %}

	{% if post.thumbnail %}

		<figure>
			<img src="{{post.thumbnail.src('medium')}}" alt="{{post.thumbnail.title}}">
		</figure>

	{% endif %}

	{{post.content}}

	<p class="tags">
		{{fn( 'the_tags', '<span class="label">Tags</span>', '' )}}
	</p>

	{{fn( 'comments_template' )}}

{% endblock %}
